body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  width: 98%;
}

.hidden {
  display: none;
}

.ui-dialog fieldset {
  background: #EEE;
}

.ui-dialog label {
  float: right;
}

.ui-dialog table {
  font-size: 12px;
}

.ui-dialog button {
  font-size: 16px!important;
}

.error {
  color: red;
  font-size: 12px;
  height: 12px;
  margin-top: -4px;
}

#socket_bridge {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1px;
  height: 1px;
}

#topbar {
  background-color: #FCC;
  border: 1px solid #866;
  padding: 2px;
  width: 100%;
}

#topbar.connecting {
  background-color: #CCF;
  border: 1px solid #668;
}

#topbar.connected {
  background-color: #CFC;
  border: 1px solid #686;
}

button.logged-in {
  display: none;
}

#tabs.logged-in button.logged-in {
  display: block;
}

#tabs.logged-in button.logged-out {
  display: none;
}

#tabs {
  margin-top: 16px;
  width: 1190px;
}

#tablist button {
  float: right;
}

#tablist a {
  cursor: pointer;
}

.leave-icon {
  margin: 3px 3px 3px -3px;
  cursor: pointer;
}

.room-tab {
  height: 490px;
  padding: 8px 6px !important;
}

.room-tab[aria-hidden='true'] {
  display: block !important;
  border: none !important;
  visibility: hidden !important;
}

.room-tab[aria-hidden='true'],
.room-tab[aria-hidden='true'] * {
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  float: left;
  margin: 8px;
}

.container .users {
  width: 130px;
}

.container .multiplayer, .container .rooms {
  width: 240px;
}

.large.container {
  float: left;
  margin: 8px;
  width: 398px;
}

.header {
  background-color: #CCC;
  border: 1px solid #555;
  padding: 2px 4px;
}

.short.header {
  border-width: 1px;
  float: left;
  padding: 2px;
  width: 63;
}

.chatbox, .chat {
  margin: 0px;
  outline: none;
  padding: 2px;
  resize: none;
}

.chat {
  border: solid #666;
  border-width: 1px 1px 1px 0px;
  padding: 2px;
  width: 329px;
}

.chatbox {
  border: solid #AAA;
  border-width: 0px 1px;
  height: 182px;
  width: 392px;

  font-size: 12px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-name {
  font-weight: bold;
}

.ui-menu {
  height: 203px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-width: 0px 1px 1px;
  overflow-y: auto;
}

.ui-menu li {
  cursor: pointer;
}

.leftalign {
  text-align: left;
}

.left-side {
  float: left;
  width: 764px;
}

.left-side.container {
  width: 452px;
}

.welcome-message {
  border: solid #AAA;
  border-radius: 0px 0px 2px 2px;
  border-width: 0px 1px 1px;
  height: 191px;
  padding: 8px;
}

.instructions {
  font-size: 12px;
  margin: 8px 0px 0px;
  padding: 0px 0px 0px 28px;
}

.instructions li {
  margin-bottom: 4px;
}

.right-side {
  float: left;
  width: 414px;
}

.game.header {
  margin-bottom: 8px;
}

.board, .large-board {
  float: right;
}

.large-board.container {
  margin: 23px 8px;
  width: 280px;
}

.large-board {
  background: black;
  height: 416px;
}

.board.container {
  margin: 8px;
  width: 140px;
  height: auto;
}

.board {
  background: black;
  height: 208px;
}

#room-prototype {
  display: none;
}

#room-details, #room-membership {
  margin-bottom: 6px;
}

#join-room-error {
  margin-top: 0px;
}

.multiplayer {
  border: solid #AAA;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-width: 0px 1px 1px;
  height: 207px;
}

.multiplayer-rules {
  margin: 0px 8px;
  padding: 8px 0px;
  font-size: 12px;
}

#point-target {
  font-size: 12px;
  margin: -13px 0px 0px 28px;
  width: 120px;
}

.ui-button, .ui-slider-handle {
  border: 1px solid #AAA !important;
}

.rules-table {
  font-size: 12px;
  margin: 2px 4px;
}

.rules-header {
  font-weight: bold;
}

.countdown {
  font-size: 48px;
  text-align: center;
}

.bold {
  font-weight: bold;
}
