body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  width: 98%;
}

#topbar {
  background-color: #CCF;
  border: 1px solid #668;
  padding: 2px;
  width: 1240px;
}

#tabs {
  margin-top: 16px;
  width: 1160px;
}

#tablist button {
  float: right;
}

.room-tab {
  height: 541px;
}

.container {
  float: left;
  margin: 8px;
  width: 159px;
}

.large.container {
  float: left;
  margin: 8px;
  width: 334px;
}

.header {
  background-color: #CCC;
  border: 1px solid #555;
  padding: 2px;
}

.short.header {
  border-width: 1px;
  float: left;
  padding: 2px;
}

#chatbox, #chat {
  margin: 0px;
  outline: none;
  padding: 2px;
  resize: none;
}

#chat {
  border: solid #666;
  border-width: 1px 1px 1px 0px;
  padding: 2px;
}

#chatbox {
  border: solid #AAA;
  border-width: 0px 1px;
  height: 220px;
  width: 100%;
}

.ui-menu {
  height: 220px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-width: 0px 1px 1px;
  overflow-y: auto;
}

.leftalign {
  text-align: left;
}

.outline {
  border: 1px dotted #888;
}

.color {
  background-color: grey;
}

#leftside {
  float: left;
  padding-top: 8px;
  padding-left: 11px;
  padding-right: 8px;
  width: 770px;
  height: 500px;
}

#rightside {
  float: left;
  width: 350px;
  height: 500px;
}

.game.header {
  margin-bottom: 8px;
}

.mainboard.container {
  margin-top: 24px;
  width: 280px;
  height: auto,
}

.mainboard {
  background: black;
  height: 416px;
}

.board.container {
  width: 140px;
  height: auto;
}

.board {
  background: black;
  height: 208px;
}
