body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  width: 98%;
}

.hidden {
  display: none;
}

.ui-dialog fieldset {
  background: #EEE;
}

.ui-dialog label {
  float: right;
}

.ui-dialog table {
  font-size: 12px;
}

.error {
  color: red;
  height: 12px;
  margin-top: -4px;
}

#socket_bridge {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1px;
  height: 1px;
}

#topbar {
  background-color: #FCC;
  border: 1px solid #866;
  padding: 2px;
  width: 1240px;
}

#topbar.connecting {
  background-color: #CCF;
  border: 1px solid #668;
}

#topbar.connected {
  background-color: #CFC;
  border: 1px solid #686;
}

button.logged-in {
  display: none;
}

#tabs.logged-in button.logged-in {
  display: block;
}

#tabs.logged-in button.logged-out {
  display: none;
}

#tabs {
  margin-top: 16px;
  width: 1160px;
}

#tablist button {
  float: right;
}

#tablist a {
  cursor: pointer;
}

.leave-icon {
  margin: 3px 3px 3px -3px;
  cursor: pointer;
}

.room-tab {
  height: 541px;
}

.room-tab[aria-hidden='true'] {
  display: block !important;
  border:none!important;
  visibility:hidden!important;
}

.room-tab[aria-hidden='true'],
.room-tab[aria-hidden='true'] * {
  height: 0!important;
  width: 0!important;
  margin: 0!important;
  padding: 0!important;
}

.container {
  float: left;
  margin: 8px;
  width: 159px;
}

.large.container {
  float: left;
  margin: 8px;
  width: 334px;
}

.header {
  background-color: #CCC;
  border: 1px solid #555;
  padding: 2px 4px;
}

.short.header {
  border-width: 1px;
  float: left;
  padding: 2px;
  width: 63;
}

.chatbox, .chat {
  margin: 0px;
  outline: none;
  padding: 2px;
  resize: none;
}

.chat {
  border: solid #666;
  border-width: 1px 1px 1px 0px;
  padding: 2px;
  width: 265px;
}

.chatbox {
  border: solid #AAA;
  border-width: 0px 1px;
  height: 220px;
  width: 328;

  font-size: 12px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-name {
  font-weight: bold;
}

.ui-menu {
  height: 220px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-width: 0px 1px 1px;
  overflow-y: auto;
}

.ui-menu li {
  cursor: pointer;
}

.leftalign {
  text-align: left;
}

.left-side {
  float: left;
  padding-top: 8px;
  padding-left: 11px;
  padding-right: 8px;
  width: 770px;
  height: 500px;
}

.right-side {
  float: left;
  width: 350px;
  height: 500px;
}

.game.header {
  margin-bottom: 8px;
}

.board, .large-board {
  float: right;
}

.large-board.container {
  margin-top: 24px;
  margin-left: 4px;
  margin-right: 12px;
  width: 280px;
}

.large-board {
  background: black;
  height: 416px;
}

.board.container {
  margin-left: 4px;
  margin-right: 12px;
  width: 140px;
  height: auto;
}

.board {
  background: black;
  height: 208px;
}

#room-prototype {
  display: none;
}

#room-details, #room-membership {
  margin-bottom: 6px;
}

#join-room-error {
  margin-top: 0px;
}
